body{
    background-color:rgb(188, 250, 229);
}
li{
    list-style-type: none;
}
p{
    background-color: blueviolet;
    font-size: 30px;
}
table tr{
    background-color: rgb(252, 247, 241);
}
table tr th{
    background-color: rgb(68, 76, 80);
}